{% extends "WriterModule/main.html" %}

{% block se_content %}

  <!-- Doc view form -->
  <table align="center">
    <tr>
      <td><b>{{ doc.name }}</b></td>
      <td align="right"><a href="/writer/{{ doc.text_id }}/write">Edit</a></td>
    </tr>
    <tr>
      <td>
        <textarea readonly disabled cols="120" rows="{{ doc_rows }}">
        {{ doc.body_text }}
        </textarea>
      </td>
    </tr>
    <tr>
      <td><i>Last update: {{ doc.last_update_date }}</td></i></td>
    </tr>
  </table>
{% endblock se_content %}
    
  </body>
</html>