{% extends "WriterModule/main.html" %}

{% block se_title %}
    <title> Silent Editor - Add Document </title>
{% endblock se_title %}


{% block se_content %}

  <!-- Doc write form -->
  
  <table align="center">
  {% if submitted %}
    <tr>
      <td><p align="center">New document added</p></td>
    </tr>
    <td align="right">
      <a href="/writer/Piotrek/list">Doc List</a> <!-- due to change - should be SAVE & CLOSE -->
    </td>
  {% else %}
    <tr>
      <td><b>{{ doc.name }}</b></td>
    </tr>
    <tr>
      <td align="left">
        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="Save"><br/>
      </td>
      <td align="right">
        <a href="/writer/Piotrek/list">Doc List</a> <!-- due to change - should be SAVE & CLOSE -->
      </td>
    </tr>
    <tr>
      <td>
          {{ form.name }}<br/>
          {{ form.body_text|safe }}<br/>
        </form>
      </td>
    </tr>
  {% endif %}  
  </table>

{% endblock se_content %}