{% extends "WriterModule/main.html" %}

{% block se_content %}

  <!-- Doc write form -->
  <table align="center">
    <tr>
      <td><b>{{ doc.doc_name }}</b></td>
    </tr>
    <tr>
      <td>
        <form action="{% url 'docWrite' doc.text_id %}" method="post">
          {% csrf_token %}
          <textarea rows="25" cols="250" name="doc_text">{{ doc.body_text }}</textarea><br/>
          <input type="submit" text="Save">
        </form>
      </td>
    </tr>
  </table>

{% endblock se_content %}
   
  </body>
</html>